**/.clj-kondo/.cache
**/.lsp
**/.lsp-cache
**/.nrepl-port
**/.rebel_readline_history
**/.cpcache
**/.calva
**/target
**/.nbb
**/node_modules
**/.DS_Store
**/.terraform
**/transient.tf.json
**/*.zip
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.*~
**/*.tfvars