{:deps
 {common/common {:local/root "../../components/common"}
  common-clj/common-clj {:local/root "../../components/common-clj"}
  functions/functions {:local/root "../../functions"}
  simple-db/simple-db {:local/root "../simple-db"}
  shell/shell {:local/root "../../components/shell"}
  org.clojure/core.async {:mvn/version "1.6.681"}
  ch.qos.logback/logback-classic {:mvn/version "1.4.8"}
  com.kroo/typeset.logback       {:mvn/version "0.2"}}
 :aliases {:test     {:extra-paths ["test"]
                      :main-opts ["-m" "kaocha.runner"]
                      :extra-deps  {org.clojure/test.check        {:mvn/version "0.10.0"}
                                    lambdaisland/kaocha           {:mvn/version "0.0-418"}}}}}
