{:deps
 {functions {:local/root "../../functions"}
  shell {:local/root "../../shell"}
  org.clojure/core.async {:mvn/version "1.6.681"}
  ch.qos.logback/logback-classic {:mvn/version "1.4.8"}
  com.kroo/typeset.logback       {:mvn/version "0.2"}}
 :aliases {:test     {:extra-paths ["test"]
                      :main-opts ["-m" "kaocha.runner"]
                      :extra-deps  {org.clojure/test.check        {:mvn/version "0.10.0"}
                                    lambdaisland/kaocha           {:mvn/version "0.0-418"}
                                    lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}
                                    lambdaisland/kaocha-cloverage {:mvn/version "0.0-32"}
                                    lambdaisland/kaocha-cucumber  {:mvn/version "0.0-46"}}}}}
